.keycaps {
    display: inline-block;
    box-sizing: border-box;
    height: 52px;
    color: #1F5565;
    border: 2px solid #1F5565;
    border-radius: 5px;
    margin: 4px 4px;
    position: relative;
}

.keycaps>p {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
}

.keycaps.mr-025u {
    margin-right: 14px;
}

.keycaps.mr-05u {
    margin-right: 34px;
}

.keycaps.mr-1u {
    margin-right: 64px;
}

.keycaps.s-mouseleft-u,
.keycaps.s-mouseright-u,
.keycaps.s-mousecenter-u {
    height: 36px;
}

.keycaps.s-mouseleft-u,
.keycaps.s-mouseright-u {
    width: 112px;
}

.keycaps.s-mouseleft-u {
    border-top-left-radius: 14px;
    margin-left: 321px;
}

.keycaps.s-mouseright-u {
    border-top-right-radius: 14px;
    margin-right: 271px;
}

.keycaps.s-mousecenter-u {
    width: 18px;
}

.keycaps.s-1u {
    width: 52px;
}

.keycaps.s-125u {
    width: 67px;
}

.keycaps.s-1u-ver {
    float: right;
    width: 52px;
    height: 111px;
}

.keycaps.s-15u {
    width: 82px;
}

.keycaps.s-175u {
    width: 97px;
}

.keycaps.s-2u {
    width: 112px;
}

.keycaps.s-225u {
    width: 127px;
}

.keycaps.s-275u {
    width: 157px;
}

.keycaps.s-625u {
    width: 442px;
}

.keycaps>p>svg {
    width: 60%;
    height: 60%;
}

.keycaps>p>svg * {
    fill: #1F5565;
}
.keycaps.active>p>svg * {
    fill: #ffffff;
}

.keycaps>p>span.context {
    display: block;
    width: 20px;
    height: 22px;
    border: 2px solid #1f5565;
}

.keycaps.active>p>span.context,
.keycaps.active>p>span.context * {
    border-color: #ffffff;
}

.keycaps>p>span.context>span {
    display: block;
    border-top: 2px solid #1f5565;
    margin: 4px 3px 0;
}

.keycaps.active {
    background-color: #1F5565;
    color: #ffffff;
    font-weight: bold;
}

.keycaps.press {
    background-color: #FAD9D2;
    border-color: #FAD9D2;
    color: #1F5565;
    font-weight: bold;
}
